header {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    display: flex;
    gap: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}