@font-face {
    font-family: Gotham-bold;
    src: url(../assets/fonts/Gotham_Bold.otf);
}

@font-face {
    font-family: Gotham-medium;
    src: url(../assets/fonts/Gotham_Medium.otf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(../assets/fonts/Roboto_Regular.ttf);
}

:root {
    --mobile-width : 80%;
}

h1 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

h1 + div {
    border : 1px solid black;
    margin-bottom: 10px;
}

.soft-shadow {
    box-shadow: 4px 4px 4px rgba(0, 0, 0,0.25);
}

.soft-border {
    border: 1px solid black;
    border-radius: 10px;
}

.small-button {
    background-color: #FDCED9;
    height: 34px;
    width: 116px;
}

.large-button {
    background-color: #FDCED9;
    height: 40px;
    width: 190px;
}

.result-product {
    display: flex;
    flex-direction: column;
    & > div:first-of-type {
        display: flex;
        text-align: center;
    }

    & > div:last-of-type {
        display: flex;
        border: 1px solid black;
        margin-top : 20px;
    }

    & > div:nth-of-type(3) {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        & > p{
            margin-right: 20px;
        }
    }
}

#search-results {
    background-color: white;
    width: var(--mobile-width);
    margin:auto;
    margin-top: 32px;
    height: 360px;
    padding: 10px;
    & + button {
        margin-top: 20px;
    }
}

.text-number {
    display: flex;
    align-items: center;
    margin-top: 20px;
    & > p:first-of-type {
        margin-right: 10px;
    }
}

.number-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 50px;
    width: 80px;
    & p {
        margin: 0;
    }
}



header {
    background-color: #9FC48E;
    margin: 0;
    & img {  
        display: block;
        margin: auto;
    }
}

h1 {
    /* text-align: center; */
    margin: 10%;
    font-family: Gotham-bold;
}
header 


body {
    background-color: #FFFFFA;
    margin: 0;
    font-family: Roboto-regular;
}


form {
    display : grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    width: var(--mobile-width);
    margin: auto;
    gap: 19px;
}

form input {
    grid-column: 1/span 3;
    border-radius: 25px;
    border: 1px solid black;
}


form button[type="submit"] {
    grid-column: 1;
}

form button[type = "reset"] {
    grid-column: 3;
    justify-self: end;
}
