body * {
    height: 200px;
    width: 200px;
    border : 2px solid black;
    margin-bottom: 20px;
}

div:first-of-type {
    background-image: radial-gradient(circle at center, lightblue, lightpink);
}

/* div:nth-of-type(2) {
    background-image: repeating-radial-gradient(circle at center, white, black 10px);
} */

div:nth-of-type(2):hover {
    background-image: repeating-radial-gradient(circle at center, black, white 10px);
}

.active {
    background-image: repeating-radial-gradient(circle at center, black, white 10px);
}

.notActive {
    background-image: repeating-radial-gradient(circle at center, white, black 10px);
}

.mouvement {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}